.container {
  text-align: center;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

  .titre { 
  font-family: 'PT Serif', serif;
background:yellow;}

.titre2 {font-family: 'PT Serif', serif;
background:yellow;
}

  
